{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}
<section class="thank-you">
    <div class="container">
        <h2 data-aos="fade-up"
        data-aos-duration="3000">Thank You for Visiting</h2>
        <p data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500">I'm always open to new opportunities and collaborations. Feel free to reach out!</p>
        <a href="#contact" class="btn-primary">Get in Touch</a>
    </div>
</section>
<div class="section contact" id="contact" 
    {% if contact_us.background and contact_us.background.name %}
        style="background-image: url('{{ contact_us.background.url }}')"
    {% endif %}
>
    <div class="container">
        <div class="row" >
            <!-- Left Side: Contact Info -->
            <div class="col-lg-6 contact-info-container">
                <h2 class="contact-heading">{{contact_us.heading}}</h2>
                <p class="contact-description">{{contact_us.des}}</p>
                <div class="info-item">
                    <i class="ti-mobile icon-lg"></i>
                    <span>{{contact_us.phone}}</span>
                </div>
                <div class="info-item">
                    <i class="ti-map-alt icon-lg"></i>
                    <span>{{contact_us.addres}}</span>
                </div>
                <div class="info-item">
                    <i class="ti-envelope icon-lg"></i>
                    <span>{{contact_us.email}}</span>
                </div>
            </div>

            <!-- Right Side: Form -->
            <div class="col-lg-6 contact-form-container">

                <h4 class="contact-title">Send a Message</h4>
                <form action="{% url 'home' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" type="text" name='name' placeholder="Your Name *" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name='email' placeholder="Your Email *" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name='mes' placeholder="Your Message *" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>

