{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/proje.css' %}" />
{% endblock %}


{% if project_section_background %}
    {% if project_section_background.background_video %}
        <video autoplay muted loop id="background-video">
            <source src="{{ project_section_background.background_video.url }}" type="video/mp4">
        </video>
    {% elif project_section_background.background_image %}
    <section class="projects-section mb-5" style="background-image: url('{{ project_section_background.background_image.url }}');">
        
    {% endif %}
{% endif %}
    <div class="container mb-5">
        <h2 class="text-white mb-5 mt-5 d-flex  justify-content-center">My Projects</h2>
        <div class="row g-4">
            <!-- Project 1 -->
            {% for project in projects %}
            <div class="col-md-4 mt-5">
                <div class="card p-4 position-relative ">
                    <h3 class="card-title">{{ project.title }}</h3>
                    <p class="card-text"><strong>Tech:</strong>{{ project.tech }}</p>
                    <p class="card-text">{{ project.des }}</p>
                    <a href="{{ project.live_link }}" class="btn btn-custom" target="_blank">View Project</a>
                    <!-- Source Code Icon -->
                    <a href="{{ project.source_code }}" class="source-code-icon" target="_blank">
                        <i class="fa-brands fa-github fa-2xl"></i>Source Code
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div> 
</section>
