* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



.footer {
    position: relative;
    width: 100%;
    background: rgba(20, 20, 20, 0.8); 
    backdrop-filter: blur(10px); 
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3); 
    text-align: center;
    padding: 6px 0;
}

.footer p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 400;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}


.fa-heart {
    margin:0px 10px;
}



.footer a {
    color: #4e9afd;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer a:hover {
    color: #80c4ff;
}
